# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build 

on:
  push:
    branches: 
      - master
      - "feature/**"
      - "fix/**"
  pull_request:
    branches: [ master ]
  

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    
    # build and test app
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

    # build test docker image
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1        
    - name: Docker Buildx (build)
      run: |
        sh scripts/docker_buildx.sh false
    
  publish:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    # push to dockerhub (except for pull requests)
    - name: Login to DockerHub
      if: success() && github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Docker Buildx (push)
      if: success() && github.event_name != 'pull_request' 
      run: |
        sh scripts/docker_buildx.sh true
